{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block link_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart/css/cart_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/duotone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/solid.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'cart/js/cart_page.js' %}"></script>
    <script src="{% static 'header.js' %}"></script>
{% endblock %}


{% block header %}
    {% include 'components/header.html' %}
{% endblock %}


{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}


{% block main %}
    <div class="empty_cart deactive">
        <h3>Вы не добавили в корзину ни одного товара.</h3>
    </div>
    <div class="container">
        <div class="cart_page_wrap deactive">
            <h3 class="cart_page_header">Корзина</h3>
            <div class="product_list"></div>
            <div class="final_price_div">
                <p>Итого: <span class="final_price">0</span> руб.</p>
            </div>
            <div class="pay_btn_div">
                <input type="button" class="cart_pay_btn" value="Перейти к оплате">
            </div>
        </div>
    </div>
{% endblock %}


{% block popup %}
    <div class="popup {% if form.errors %}active{% endif %}">
        <div class="popup_content">
            <div class="popup_header">
                <i class="fa-duotone fa-xmark fa-xl popup_close"></i>
            </div>

            <form method="post" class="popup_form" id="pay_form">
                <div class="form_content">
                    <!-- {{user.is_authenticated}} -->

                    <div class="alert">
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                            {{form.non_field_errors}}
                        </ul>
                    </div>

                    {% for field in form %}
                        {{field}}
                    {% endfor %}
                    {% csrf_token %}
                    <div class="form_content_btns">
                        <input type="button" class="pay_btn" value="Оплатить">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
