/* header block styles */
.menu {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.header_title {
  display: flex;
  align-items: center;
}
.header_title a {
  text-decoration: none;
  color: #000;
}
.header_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header_content a {
  background-color: #fff;
  color: #000;
  border: 1px solid #96c0d9;
  border-radius: 5px;
  display: block;
  height: min-content;
  padding: 7px;
  margin: 0 3px;
  text-decoration: none;
}

.header_content a.header_cart {
  /*noinspection CssInvalidPropertyValue*/
  text-wrap: nowrap;
}

.hide_element_mobile {
  display: flex;
}

.burger_menu {
  display: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #96c0d9;
  border-radius: 5px;
  height: min-content;
  margin: 0 3px;
}

.burger_menu > .burger {
  --burger-width: 15px;
  --burger-height: 2px;
  --burger-padding: 7px 9px;
  --burger-gap: 3px;
  --burger-color: #1a1a1a;
  --burger-anim-speed: .5;
}

.header_menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;

  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #7895cb;

  padding: 10px 0;
  overflow-x: auto;

  transition: opacity .3s ease-in, border-color .3s ease-in;
}

.header_menu_box {
  display: flex;
  width: 60px;
  height: 60px;
  border: 1px solid #96c0d9;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  text-decoration: none;

  background-color: #96c0d9;
  color: black;
  padding: 3px;

  transition: color .3s ease-in, background-color .3s ease-in;
}
.header_menu_box:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .burger_menu {
    display: block;
  }
  .header_menu.hide_element_mobile {
    height: 0;
    padding: 0;
    margin: 0;
    border: 0 #fff;
    opacity: 0;
  }
  .header_menu.hide_element_mobile > .header_menu_box {
    color: #fff;
    background-color: #fff;
  }
  header {
    min-height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .header_menu {
    flex-direction: column;
    gap: 10px;
  }
  .header_menu > .header_menu_box {
    width: 100%;
    box-sizing: border-box;
  }
}