main {
    height: calc(100vh - 101px - 120px);
}
.product_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-bottom: 20px; */
}
.product_item {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    border: 1px solid #96c0d9;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}