main {
    min-height: calc(100vh - 101px - 121px);
}
.product_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.product_item {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    border: 1px solid #96c0d9;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.pay_btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #96c0d9;
    border-radius: 5px;
    display: block;
    height: min-content;
    padding: 7px;
    font-weight: bold;
    transition: 0.2s;
}
.pay_btn:hover {
    cursor: pointer;
    background-color: #7895cb;
    transition: 0.2s;
}
.pay_btn_div {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 20px;
    width: 100%;
    margin-bottom: 20px;
}
.final_price_div {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 20px;
    width: 100%;
}
.final_price_div p {
    margin: 0;
}

.empty_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 101px - 121px);
}
.empty_cart a {
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    color: blue;
}

.cart_page_header {
    margin: 0;
    padding: 18px 0;
}

.deactive {
    display: none;
}