{% load static %}

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'global.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'header.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/base.css' %}">
    {% block link_css %}
    {% endblock %}
</head>
<body>
<header>
    {% include 'components/header.html' %}
</header>
<main>
    {% block cart_popup %}
    {% endblock %}
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% include 'components/footer.html' %}
</footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>