{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block link_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/duotone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/solid.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/cart.js' %}"></script>
    <script src="{% static 'header.js' %}"></script>
{% endblock %}

{% block header %}
<div class="container">
    <nav class="menu">
        <div class="header_title">
            <h2>PantherDoc</h2>
        </div>
        <div class="header_content">
            <a href="{% url 'auth:login' %}">Вход</a>
            <a href="{% url 'auth:register' %}">Регистрация</a>
        </div>
    </nav>
</div>
{% endblock %}

{% block cart_popup %}
<div class="cart_popup">
    <div class="cart_popup_content">
        <div class="popup_header">
            <!-- <h2>Купить товар</h2> -->
            <i class="fa-duotone fa-xmark fa-xl popup_close"></i>
        </div>

        <form method="post" class="popup_form">
            <div class="form_content">
                <div class="product_name_div">
                    <p class="product_name">Some product name</p>
                </div>
                <div class="price_div">
                    <p class="price"><span class="price_span"></span> рублей.</p>
                </div>
                
                <div class="form_content_btns">
                    <input type="button" class="cart_add_btn" value="Добавить в корзину">
                    <p class="or">или</p>
                    <input type="button" class="pay_btn" value="Оплатить">
                </div>
           </div>
        </form>
    </div>
</div>
{% endblock %}


{% block main %}
    <table class="products-table">
        <thead>
        <tr class="table_head">
            <th class="th1">{% trans "Product" %}</th>
            <th>Кол-во</th>
            <th>За 1 шт.</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for country in country_list %}
            {# Don't show empty categories #}
            {% if country.product_set.values.exists %}
                <tr class="country-tr">
                    <td>{{ country.title }}</td>
                </tr>
                {% for product in country.product_set.values %}
                    <tr class="product-tr" >
                        <td class="product-title">{{ product.title }}</td>
                        <td class="product-count">{{ product.count }}</td>
                        <td class="product-cost">{{ product.rub_cost }}</td>
                        <td class="product-buy">
                            
                            <a href="#" class="product-buy-a popup_open">
                                <i class="fa-duotone fa-cart-shopping"></i>
                                Купить
                            </a>
                        </td>
                        <td class="tooltip_content">
                            <p>{{ product.title }}</p>
                        </td> 
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}