{% extends 'site_page.html' %}
{% load static %}
{% load i18n %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/fontawesome/css/duotone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/fontawesome/css/solid.css' %}">
{% endblock %}


{% block additional_scripts %}
    <script src="{% static 'main/js/cart.js' %}"></script>
{% endblock %}


{% block popup %}
<div class="popup">
    <div class="popup_content">
        <div class="popup_header">
            <i class="fa-duotone fa-xmark fa-xl popup_close"></i>
        </div>

        <form method="post" class="popup_form">
            <div class="form_content">
                <div class="product_name_div">
                    <p class="product_name">Some product name</p>
                </div>
                <div class="price_div_popup">
                    <p class="price"><span class="price_span">0</span> рублей.</p>
                </div>
                
                <div class="form_content_btns">
                    <button type="button" class="cart_add_btn">{% trans 'Add to cart' %}</button>
                    <p class="or">{% trans 'or' %}</p>
                    <button type="button" class="pay_btn">{% trans 'Buy' %}</button>
                </div>
           </div>
        </form>
    </div>
</div>
{% endblock %}


{% block main %}
    <div class="container">
        <table class="products-table">
            <thead>
            <tr class="table_head">
                <th class="th1">{% trans "Product" %}</th>
                <th>{% trans 'Count' %}</th>
                <th>{% trans 'Unit price' %}</th>
                <th class="th4"></th>
            </tr>
            </thead>
            <tbody>
            {% for country in country_list %}
                <tr class="country-tr">
                    <td colspan="10">{{ country.title }}</td>
                </tr>
                {% for product in country.product_set.values %}
                    <tr class="product-tr" >
                        <td class="product-id" style="display: none;">
                            {{ product.id }}
                        </td>
                        <td class="product-title">{{ product.title }}</td>
                        <td class="product-count">{{ product.count }}</td>
                        <td class="product-cost">{{ product.rub_cost }}</td>
                        <td class="product-buy">
                            <a href="#" class="product-buy-a popup_open">
                                <i class="fa-duotone fa-cart-shopping"></i>
                                {% trans 'Buy' %}
                            </a>
                        </td>
                        <td class="tooltip_content">
                            <p>{{ product.title }}</p>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}