{% load static %}

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'global.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'header.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'footer.css' %}">
    {% block link_css %}
    {% endblock %}
</head>
<body>
<header>
    {% block header %}
    {% endblock %}
</header>
<main>
    {% block popup %}
    {% endblock %}
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>