<div class="shop_list_header_wrap">
    <h3 class="shop_list_header">Список покупок</h3>
</div>

<div class="shop_list_content_wrap">
    <div class="shop_list_content_product">
        <div class="product_name">Товар</div>
        <div class="product_price">Стоимость</div>
        <div class="product_link">Ссылка</div>
    </div>
    <div class="shop_list_content_product">
        <div class="product_name">Lorem, ipsum dolor.</div>
        <div class="product_price">700 lorem</div>
        <div class="product_link">LINK</div>
    </div>
    <div class="shop_list_content_product">
        <div class="product_name">Lorem, ipsum dolor.</div>
        <div class="product_price">700 lorem</div>
        <div class="product_link">LINK</div>
    </div>
    <div class="shop_list_content_product">
        <div class="product_name">Lorem, ipsum dolor.</div>
        <div class="product_price">700 lorem</div>
        <div class="product_link">LINK</div>
    </div>
</div>