{% extends 'main/base.html' %}
{% load static %}

{% block link_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'office.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/duotone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/solid.css' %}">
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}


{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}


{% block main %}
    <div class="main_wrap">
        <div class="left_menu">
            <ul class="menu_ul">
                {% if user.is_staff %}
                    <li class="menu_li">
                        <a href="{% url 'admin:index' %}">Admin panel</a>
                    </li>
                {% endif %}
                <li class="menu_li"><a href="{% url 'main:home' %}">Магазин</a></li>
                <li class="menu_li"><a href="{% url 'payment:send-links' %}">Покупки</a></li>
                
                <li class="menu_li"><a href="{% url 'auth:logout' %}">Выход</a></li>
            </ul>
        </div>
        <div class="menu_content">
            <p>
                Добро пожаловать в ваш личный кабинет!<br><br>

                Здесь вы найдете все необходимое для удобного управления вашим аккаунтом.<br><br>
                
                В разделе "Покупки" вы сможете получить приобретённые вами товары.<br><br>
                
                Если вы зохотите выйти из своего аккаунта, воспользуйтесь кнопкой "Выход".<br><br>
                
                Спасибо, что выбрали нас! Мы надеемся, что ваш опыт с нами будет приятным и удобным.
            </p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'header.js' %}"></script>
{% endblock %}