{% extends 'main/base.html' %}
{% load static %}


{% block main %}
    <div class="main_wrap">
        <div class="left_menu">
            <ul class="menu_ul">
                <li class="menu_li"><a href="">Главная</a></li>
                <li class="menu_li"><a href="/">Магазин</a></li>
                <li class="menu_li"><a href="">Покупки</a></li>
                <li class="menu_li"><a href="">Профиль</a></li>
                <li class="menu_li"><a href="{% url 'auth:logout' %}">Выход</a></li>
            </ul>
        </div>
        <div class="menu_content"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'header.js' %}"></script>
{% endblock %}