{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/css/auth.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <header>
        {% include 'components/header.html' %}
    </header>
    <div class="page_wrap">
        <div class="form_wrap">
            <h2>Регистрация</h2>
            <form action="" method="post" class="reg_form">
                {% csrf_token %}
                <div class="form_inside">
                    <input type="email" name="email" id="" placeholder="Email">
                    <input type="text" name="username" id="" placeholder="Username">
                    <input type="password" name="password" id="" placeholder="Password" autocomplete="new-password">
                    <input type="password" name="password2" id="" placeholder="Repeat password" autocomplete="new-password">
                    <input type="submit" value="Регистрация" id="input_submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>